.mtAPlayerUI{
    width:300px;
    height:40px;
    padding:20px 10px 10px;
    background: #a1a4a6 url(../images/playerBG.png) repeat-x scroll 0 0;
    border:1px solid #aeaeae;
    
    position:relative;
}
.mtAPlayerUI .button{
    padding:16px;
    font-size:0pt;
    color:transparent;
    margin:0 10px;
    
}
.mtAPlayerUI .toggle{
    background: url(../images/play.png) no-repeat;
    padding:24px;
}
.mtAPlayerUI .toggle.play{
    background: url(../images/play.png) no-repeat;
}
.mtAPlayerUI .toggle.pause{
    background: url(../images/pause.png) no-repeat;
}

.mtAPlayerUI .prev{
    background: url(../images/prev.png) no-repeat;

}
.mtAPlayerUI .next{
    background: url(../images/next.png) no-repeat;
}

.mtAPlayerUI .stop{
    background: url(../images/stop.png) no-repeat;
    padding:19px;
}

.mtAPlayerUI .readout{
    position:absolute;
    bottom:2px;
    right:0px;
}
.mtAPlayerUI .pos, .mtAPlayerUI .dur, .mtAPlayerUI .name{
    font-size:7pt;
    margin:7px;
}

